.controls {
  float: left;
  width: 50px;
  margin-left: -50px;
}
.controls IMG {
  vertical-align: middle;
  margin: 0 2px;
}

#alert {
  background: #FFFFFF;
  color: #DF0808;
  font-weight: bold;
  height: 1em;
  line-height: 1em;
}